AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY=
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_OPENAI_CHAT_DEPLOYMENT=gpt-4o

AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=eastus2

AZURE_OPENAI_EMBEDDING_DEPLOYMENT=text-embedding-3-large

OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
OPENSEARCH_USER=admin
OPENSEARCH_PASSWORD=
OPENSEARCH_INDEX=interview_questions
OPENSEARCH_TOP_K=3